In [1]:
import os
import pandas as pd

In [2]:
sativa_ILs = os.listdir("Serriola_AS")

In [4]:
ts1g = pd.read_csv('Serriola_20210521-20210528_heightrate.csv', index_col=0) 
ts2g = pd.read_csv('Serriola_20210528-20210601_heightrate.csv', index_col=0) 
ts3g = pd.read_csv('Serriola_20210601-20210604_heightrate.csv', index_col=0) 
ts4g = pd.read_csv('Serriola_20210604-20210608_heightrate.csv', index_col=0) 
ts5g = pd.read_csv('Serriola_20210608-20210611_heightrate.csv', index_col=0)

In [5]:
rate = []
lk = []
il = []
for x in sativa_ILs:
    for index, row in ts5g.iterrows():
        if x[6:11] == index:
            lk.append(x[0:5])
            il.append(x[6:11])
            rate.append(row['Height_rate'])

In [6]:
df = pd.DataFrame(lk, columns =['lkid'])

In [7]:
df['ilid'] = il

In [8]:
df['growth_rate'] = rate

In [9]:
df

      lkid   ilid  growth_rate
0    LK201  IL001     0.107718
1    LK201  IL392     0.355132
2    LK202  IL002     0.419125
3    LK202  IL322     0.076901
4    LK203  IL003     0.077713
..     ...    ...          ...
392  LK398  IL275    -0.120262
393  LK399  IL199     0.148211
394  LK399  IL249     0.402181
395  LK400  IL200     0.098402
396  LK400  IL203    -0.035674

[397 rows x 3 columns]

In [49]:
df.to_csv("Serriola_20210608-20210611_heightrate_LKID.csv", index=False)

#### Growth rates and height rates over a longer time

In [10]:
df_hr = (ts1g["Height_rate"] + ts2g["Height_rate"] + ts3g["Height_rate"] + ts4g["Height_rate"] + ts5g["Height_rate"]) / 5

In [11]:
df_hr = df_hr.dropna()

In [12]:
df_hr = pd.DataFrame({'ilid':df_hr.index, 'Height_rate':df_hr.values})

In [13]:
rate = []
lk = []
il = []
for x in sativa_ILs:
    for index, row in df_hr.iterrows():
        if x[6:11] == row['ilid']:
            lk.append(x[0:5])
            il.append(x[6:11])
            rate.append(row['Height_rate'])

In [14]:
df = pd.DataFrame(lk, columns =['lkid'])

In [15]:
df['ilid'] = il

In [16]:
df['growth_rate'] = rate

In [18]:
df.to_csv("Serriola_0521-0611_heightrate_LKID.csv", index=True)

In [40]:
df_gr = (ts1g["Growth_rate"] + ts2g["Growth_rate"] + ts3g["Growth_rate"] + ts4g["Growth_rate"] + ts5g["Growth_rate"]) / 5

In [44]:
df_gr = df_gr.dropna()

In [45]:
df_gr.to_csv("Serriola_0521-0611_growthrate_LKID.csv", index=True)

### filter out accessions

In [2]:
ts1g = pd.read_csv('Heights/Per Plant/Sativa_20210521_height_individual_filtered.csv', index_col=0, names=["acc","height0521","coordinates"], header=0) 
ts2g = pd.read_csv('Heights/Per Plant/Sativa_20210528_height_individual.csv', index_col=0, names=["acc","height0528","coordinates"], header=0) 
ts3g = pd.read_csv('Heights/Per Plant/Sativa_20210601_height_individual.csv', index_col=0, names=["acc","height0601","coordinates"], header=0) 
ts4g = pd.read_csv('Heights/Per Plant/Sativa_20210604_height_individual.csv', index_col=0, names=["acc","height0604","coordinates"], header=0) 
ts5g = pd.read_csv('Heights/Per Plant/Sativa_20210608_height_individual.csv', index_col=0, names=["acc","height0608","coordinates"], header=0)
ts6g = pd.read_csv('Heights/Per Plant/Sativa_20210611_height_individual.csv', index_col=0, names=["acc","height0611","coordinates"], header=0) 
ts7g = pd.read_csv('Heights/Per Plant/Sativa_20210615_height_individual.csv', index_col=0, names=["acc","height0615","coordinates"], header=0) 
ts8g = pd.read_csv('Heights/Per Plant/Sativa_20210618_height_individual.csv', index_col=0, names=["acc","height0618","coordinates"], header=0) 
ts9g = pd.read_csv('Heights/Per Plant/Sativa_20210622_height_individual_filtered.csv', index_col=0, names=["acc","height0622","coordinates"], header=0) 
ts10g = pd.read_csv('Heights/Per Plant/Sativa_20210625_height_individual_filtered_5.4.csv', index_col=0, names=["acc","height0625","coordinates"], header=0)

In [3]:
ts1gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210521_height_corrected.csv', index_col=0, names=["acc","height0521","coordinates"], header=0) 
ts2gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210528_height_corrected.csv', index_col=0, names=["acc","height0528","coordinates"], header=0) 
ts3gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210601_height_corrected.csv', index_col=0, names=["acc","height0601","coordinates"], header=0) 
ts4gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210604_height_corrected.csv', index_col=0, names=["acc","height0604","coordinates"], header=0) 
ts5gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210608_height_corrected.csv', index_col=0, names=["acc","height0608","coordinates"], header=0)
ts6gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210611_height_corrected.csv', index_col=0, names=["acc","height0611","coordinates"], header=0) 
ts7gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210615_height_corrected.csv', index_col=0, names=["acc","height0615","coordinates"], header=0) 
ts8gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210618_height_corrected.csv', index_col=0, names=["acc","height0618","coordinates"], header=0) 
ts9gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210622_height_corrected.csv', index_col=0, names=["acc","height0622","coordinates"], header=0) 
ts10gc = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210625_height_corrected.csv', index_col=0, names=["acc","height0625","coordinates"], header=0)

In [6]:
hoi = ts10g[ts10g['height0625'] > 5].groupby('acc')['height0625'].count().reset_index(name='count')

In [10]:
new_df = ts9gc[ts9gc['acc'].isin(list(set(ts9g.index)))]

In [11]:
new_df

        acc  height0622 coordinates
15    IL402    4.431833   (513, 81)
16    IL402    2.143302   (716, 85)
17    IL402    3.987703  (710, 193)
18    IL402    5.267860  (317, 196)
19    IL402   15.526308  (125, 197)
...     ...         ...         ...
5885  IL796    7.460987  (907, 614)
5886  IL796   34.883011  (640, 616)
5887  IL796   27.127854  (102, 618)
5888  IL796   39.534221  (373, 621)
5889  IL796   30.033193  (560, 635)

[5704 rows x 3 columns]

In [10]:
df = hoi[hoi['count']>4]

In [12]:
new_df = ts10g[ts10g['acc'].isin(list(df['acc']))]

In [12]:
new_df.to_csv('Heights/Per Plant/Corrected/Sativa_20210622_height_corrected_filtered.csv', index=False)

### Growth rate calculation

In [13]:
ts1g = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210521_height_corrected_filtered.csv', index_col=0, names=["acc","height0521","coordinates"], header=0) 
ts2g = pd.read_csv('Heights/Per Plant/Sativa_20210528_height_individual_filtered.csv', index_col=0, names=["acc","height0528","coordinates"], header=0) 
ts3g = pd.read_csv('Heights/Per Plant/Sativa_20210601_height_individual_filtered.csv', index_col=0, names=["acc","height0601","coordinates"], header=0) 
ts4g = pd.read_csv('Heights/Per Plant/Sativa_20210604_height_individual_filtered.csv', index_col=0, names=["acc","height0604","coordinates"], header=0) 
ts5g = pd.read_csv('Heights/Per Plant/Sativa_20210608_height_individual_filtered.csv', index_col=0, names=["acc","height0608","coordinates"], header=0)
ts6g = pd.read_csv('Heights/Per Plant/Sativa_20210611_height_individual_filtered.csv', index_col=0, names=["acc","height0611","coordinates"], header=0) 
ts7g = pd.read_csv('Heights/Per Plant/Sativa_20210615_height_individual_filtered.csv', index_col=0, names=["acc","height0615","coordinates"], header=0) 
ts8g = pd.read_csv('Heights/Per Plant/Sativa_20210618_height_individual_filtered.csv', index_col=0, names=["acc","height0618","coordinates"], header=0) 
ts9g = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210622_height_corrected_filtered.csv', index_col=0, names=["acc","height0622","coordinates"], header=0) 
ts10g = pd.read_csv('Heights/Per Plant/Corrected/Sativa_20210625_height_corrected_filtered.csv', index_col=0, names=["acc","height0625","coordinates"], header=0)

In [21]:
result = pd.merge(ts1g, ts9g, on=["acc", "coordinates"])

In [22]:
result

       height0521 coordinates  height0622
acc
IL402    2.614936   (513, 81)    4.431833
IL402    2.921802   (716, 85)    2.143302
IL402    2.466080  (710, 193)    3.987703
IL402    2.326379  (317, 196)    5.267860
IL402    1.602996  (125, 197)   15.526308
...           ...         ...         ...
IL795    3.662220  (905, 506)   46.458089
IL795    4.451872  (104, 513)   47.801015
IL795    3.479533  (907, 614)   47.059681
IL795    5.579633  (102, 618)   51.588322
IL795    7.326498  (373, 621)    0.654376

[4659 rows x 3 columns]

In [21]:
result = result[result['height0625']>0.2]

In [23]:
result['growth_rate'] = ((result['height0622']) - (result['height0521'])) / (result['height0521'])

In [24]:
result

       height0521 coordinates  height0622  growth_rate
acc
IL402    2.614936   (513, 81)    4.431833     0.694815
IL402    2.921802   (716, 85)    2.143302    -0.266445
IL402    2.466080  (710, 193)    3.987703     0.617021
IL402    2.326379  (317, 196)    5.267860     1.264403
IL402    1.602996  (125, 197)   15.526308     8.685807
...           ...         ...         ...          ...
IL795    3.662220  (905, 506)   46.458089    11.685773
IL795    4.451872  (104, 513)   47.801015     9.737285
IL795    3.479533  (907, 614)   47.059681    12.524711
IL795    5.579633  (102, 618)   51.588322     8.245828
IL795    7.326498  (373, 621)    0.654376    -0.910684

[4659 rows x 4 columns]

In [25]:
result = result.groupby('acc')['growth_rate'].mean().reset_index(name='growth_rate')

In [26]:
result.to_csv('GrowthRates/Sativa_05210622_growthrate_radius_corrected.csv', index=False)

In [27]:
result

       acc  growth_rate
0    IL402     9.978328
1    IL404   433.116107
2    IL405    76.954072
3    IL408    37.194202
4    IL409    29.378996
..     ...          ...
257  IL787     7.765364
258  IL788    17.142768
259  IL792    11.932746
260  IL793     7.808894
261  IL795     9.124332

[262 rows x 2 columns]